<p style="color: green">Contactform works!</p>

<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <!-- Name -->
    <label for="name">Name</label>
    <input
      [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      placeholder="Your name.."
      required
    />

    <!-- Email -->
    <label for="email">Email</label>
    <input
      #email="ngModel"
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      placeholder="Your email address.."
      required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    />
    <!-- Error message for invalid email field -->
    <span *ngIf="!email.valid && email.touched" style="color: red">
      Please enter a valid email address.
    </span>

    <!-- Message -->
    <label for="message">Message</label>
    <textarea
      #message="ngModel"
      [(ngModel)]="contactData.message"
      id="message"
      name="message"
      placeholder="Write something.."
      style="height: 200px"
      minlength="4"
      required
    ></textarea>

    <!-- Error message for invalid message field -->
    <span *ngIf="!message.valid && message.touched" style="color: red">
      Please enter a valid message (at least 4 characters).
    </span>

    <!-- Submit Button -->
    <input type="submit" value="Submit" [disabled]="!contactForm.form.valid" />
  </form>
</div>
